# Cauldron Interactions
public net.minecraft.core.cauldron.CauldronInteraction$Dispatcher *()
public net.minecraft.core.cauldron.CauldronInteractions *()

public net.minecraft.client.renderer.block.FluidStateModelSet WATER_MODEL